<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack.me</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <script src="../assets/js/index.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>

    <header id="header">
        <a href="../index.html" title="inicio"><img src="../assets/img/logopagina.png" alt="logo.pg" id="logo"></a>
        <nav>
            <div class="ham-navbar">
              <div class="container nav-container">
                  <input class="checkbox" type="checkbox" name="" id="" />
                  <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                  </div>  

                <div class="menu-items">
                    <h2>Marcas</h2>
                  <ul>
                    <li><a href="#">Nintendo</a></li>
                    <li><a href="#">Sony</a></li>
                    <li><a href="#">Sega</a></li>
                    <li><a href="#">Microsoft</a></li>
                    <li><a href="#">Otra</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </nav>
        <div class="b-search">
            <input type="text" placeholder="Buscar">
            <div class="btn">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </header>


    <div class="page-body">
        <section>
            <div class="social-bar">
               <a href="#" class="icon icon-facebook" target="_blank"><img id="face" src="../assets/img/redes/Face.png" alt="facebook.png"></a>
               <a href="#" class="icon icon-twitter" target="_blank"><img id="twi" src="../assets/img/redes/Twi.png" alt="twitter.png"></a>
               <a href="#" class="icon icon-instagram" target="_blank"><img id="insta" src="../assets/img/redes/Insta.png" alt="instagram.png"></a>
               <a href="#" class="icon icon-youtube" target="_blank"><img id="you" src="../assets/img/redes/You.png" alt="youtube.png"></a>
            </div>
        </section>

        <section class="main-content">
            <div class="main-content-container">
                <div class="main-content-item">
                    <img src="../assets/img/Noticias/hogwarts-legacy-2957574.webp" alt="not.png" id="nes">
                    <h2>El trofeo/logro casi imposible de conseguir en Hogwarts Legacy... a menos que tengas mucho tiempo libre</h2>
                    <p>
                        A estas alturas hay que reconocer que Hogwarts Legacy es uno de los juegos del 2023. No solo a nivel de calidad (que también), sino por su impacto mediático y comercial en su primer mes a la venta. Y eso que solo está disponible en PS5, Xbox Series X|S.                    </p>
            </div>
        </section>
    
    </div>
    <div id="up">
        <b>
            <a href="#top">⇪</a>
        </b>
    </div>
    <footer>
        Soy un pie de pagina
    </footer>
    
</body>
</html>