<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack.me</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <script src="../assets/js/index.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>

    <header id="header">
        <a href="../index.html" id="home"><img src="../assets/img/logopagina.png" alt="logo.pg" id="logo"></a>
        
        <nav class="nav" id="nav">
            <ul class="menu-horizontal">
                <li><a href="../index.html">Inicio</a></li>
                <li>
                    <a href="#">Nintendo</a>
                    <ul class="menu-vertical">
                        <li><a href="#">Nes</a></li>
                        <li><a href="#">Snes</a></li>
                        <li><a href="#">GameCube</a></li>
                        <li><a href="#">Wii</a></li>
                        <li><a href="#">Wii U</a></li>
                        <li><a href="#">Switch</a></li>
                    </ul>
                </li>
                    <li>
                        <a href="#">Playstation</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Playstation 1</a></li>
                            <li><a href="#">Playstation 2</a></li>
                            <li><a href="#">Playstation 3</a></li>
                            <li><a href="#">Playstation 4</a></li>
                            <li><a href="#">Playstation 5</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Xbox</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Xbox Classic</a></li>
                            <li><a href="#">Xbox 360</a></li>
                            <li><a href="#">Xbox One</a></li>
                            <li><a href="#">Xbox Series S/X</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Sega</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Master System</a></li>
                            <li><a href="#">Mega Drive</a></li>
                            <li><a href="#">Saturn</a></li>
                            <li><a href="#">Dreamcast</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Atari</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Atari 2600</a></li>
                            <li><a href="#">Jaguar</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Otros</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Panasonic 3DO</a></li>
                            <li><a href="#">Turbografx-16</a></li>
                            <li><a href="#">PC-Engine</a></li>
                        </ul>
                    </li>
            </ul>
        </nav>        <nav>
            <div class="ham-navbar">
              <div class="container nav-container">
                  <input class="checkbox" type="checkbox" name="" id="" />
                  <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                  </div>  

                <div class="menu-items">
                    <h2>Marcas</h2>
                  <ul>
                    <li><a href="#">Nintendo</a></li>
                    <li><a href="#">Sony</a></li>
                    <li><a href="#">Sega</a></li>
                    <li><a href="#">Microsoft</a></li>
                    <li><a href="#">Otra</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </nav>
        <div class="b-search">
            <input type="text" placeholder="Buscar">
            <div class="btn">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </header>


    <div class="page-body">
        <section>
            <div class="social-bar">
               <a href="#" class="icon icon-facebook" target="_blank"><img id="face" src="../assets/img/redes/Face.png" alt="facebook.png"></a>
               <a href="#" class="icon icon-twitter" target="_blank"><img id="twi" src="../assets/img/redes/Twi.png" alt="twitter.png"></a>
               <a href="#" class="icon icon-instagram" target="_blank"><img id="insta" src="../assets/img/redes/Insta.png" alt="instagram.png"></a>
               <a href="#" class="icon icon-youtube" target="_blank"><img id="you" src="../assets/img/redes/You.png" alt="youtube.png"></a>
            </div>
        </section>

        <section class="main-content">
            <div class="main-content-container">
                <div class="main-content-item">
                    <img src="../assets/img/Noticias/last-us-remake-last-us-parte-i-ps5-2727807.webp" alt="not.png" id="nes">
                    <h2>Naughty Dog revela el motivo del desarrollo de The Last of Us Parte 1 como un remake para PS5 y PC</h2>
                    <p>
                        The Last of Us Parte 1 generó cierta polémica en torno a si era verdaderamente necesario. La idea de su desarrollo por parte de Naughty Dog proviene de un concepto muy sencillo.
                        The Last of Us Parte 1 llegó hace unos meses a PS5 y pronto se lanzará en PC. El anuncio del remake dio de que hablar en su momento. ¿Era verdaderamente necesario lanzar un remake de un remaster de un juego original de PS3? El debate perdura desde entonces.                    </p>
            </div>
        </section>
    
    </div>
    <div id="up">
        <b>
            <a href="#top">⇪</a>
        </b>
    </div>
    <footer>
        Soy un pie de pagina
    </footer>
    
</body>
</html>