body {
  background-image: url(../img/electric-neon-colorful-dark-background-lighting-3840x2160-2654.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
