@import url("./body.css");
@import url("./search.css");
@import url("./header.css");
@import url("./grid.css");
@import url("./fotter.css");
@import url("./notice.css");
@import url("./content.css");




@font-face {
  font-family: Ps;
  src: url(..//font/ps-font/Ps.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

.page-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  max-width: 95%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}



/* Redes */
.social-bar {
  position: fixed;
  left: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: flex;
  transition: all 0.5s;
}

.icon-facebook {
  background: #2e406e;
}

.icon-twitter {
  background: #339dc5;
}

.icon-instagram {
  background: #f56040;
}
.icon-youtube {
  background: #ff0000;
}

.icon:first-child {
  border-radius: 0 1rem 0 0;
}

.icon:last-child {
  border-radius: 0 0 1rem 0;
}

.icon:hover {
  padding-left: 3rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}
#face,
#twi,
#insta,
#you {
  height: 30px;
  width: 30px;
}




