@import url("./body.css");
@import url("./search.css");
@import url("./header.css");
@import url("./grid.css");
@import url("./fotter.css");
@import url("./notice.css");
@import url("./content.css");
@import url("./social.css");

@font-face {
  font-family: Ps;
  src: url(..//font/ps-font/Ps.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

.page-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 90px;
  max-width: 95%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .page-body{
    margin: 20vw auto;
  }

}
@media screen and (max-width: 480px) {
  .page-body{
    margin: 1vh auto;
  }

}