/* notice section */
.notice-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 50%;
  margin: 100px auto;
  background-color: #a4a3a3c7;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.notice-small {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice-small h3 {
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.notice-small ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notice-small li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
  font-size: 1.5rem;
  width: 95vw;
}

.notice-small img {
  max-width: 100%;
  margin-right: 10px;
}

.notice-small a {
  color: #333;
  text-decoration: none;
  width: 50%;
}

.notice-small a:hover {
  text-decoration: underline;
}

.small-notice-image {
  width: 10vw;
  height: auto;
  max-height: 50%;
}



@media screen and (max-width: 768px) {
  .notice-block {
    width: 95%;
  }
  .small-notice-image {
    width: 20vw;
    margin: 0 0;
  }
  .notice-small img {
    margin-right: 5px;
  }
  .notice-small li {
    width: 100vw;
    margin: 0;
    margin-right: 0;
    padding: 0.1rem;
    font-size: 1rem;
    text-align: justify;
  }
  .notice-small h3 {
    font-size: 1.5em;
    width: 25vw;
    margin-top: 2px;
  }
  .notice-small a {
    width: 50vw;
    height: 5rem;
    text-align: start;
  }
}



@media screen and (max-width: 480px) {
  .notice-block {
    width: 95%;
  }
  .small-notice-image {
    width: 25vw;
    margin: 0 0;
  }
  .notice-small img {
    margin-right: 5px;
  }
  .notice-small li {
    width: 100vw;
    margin: 0;
    margin-top: 3vh;
    margin-right: 0;
    padding: 0.1rem;
  }
  .notice-small h3 {
    font-size: 1.5em;
    width: 25vw;
    margin-top: 3vw;
  }
  .notice-small a {
    width: 50vw;
    height: 5rem;
    text-align: start;
  }
}

